{% extends "users/base_account.html" %}

{% block account_title %}Регистрация{% endblock %}

{% block account_content %}
<form method="post">
    {% csrf_token %}
    {% include "users/includes/form_errors.html" %}

    <div class="mb-3">
        <label for="id_username" class="form-label">Логин</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="id_password1" class="form-label">Пароль</label>
        <input type="password" name="password1" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="id_password2" class="form-label">Подтверждение пароля</label>
        <input type="password" name="password2" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>

    <div class="mt-3 text-center">
        Уже есть аккаунт? <a href="{% url 'users:login' %}">Войти</a>
    </div>
</form>
{% endblock %}
