{% extends "users/base_account.html" %}

{% block account_title %}Смена пароля{% endblock %}

{% block account_content %}
<form method="post">
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="mb-3">
        <label for="id_old_password" class="form-label">Текущий пароль</label>
        <input type="password" name="old_password" class="form-control" required id="id_old_password">
        {% if form.old_password.help_text %}
        <small class="form-text text-muted">{{ form.old_password.help_text }}</small>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="id_new_password1" class="form-label">Новый пароль</label>
        <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
        {% if form.new_password1.help_text %}
        <div class="form-text text-muted">{{ form.new_password1.help_text }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="id_new_password2" class="form-label">Подтвердите пароль</label>
        <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
    </div>

    <button type="submit" class="btn btn-primary w-100">Изменить пароль</button>
</form>
{% endblock %}
